.button-container{
    display: block;
    margin:auto;
    display: flex;
    justify-content: center;
}

.button{
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    padding: 1vmin;
    margin: 1vmin;
}

.map{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: fit-content;
    width: 80%;
}

.map-item{
    padding: 2vmin;
    font-size: 5vmin;
}